@{
	Layout = null;
}
<div style="background-color: lightgreen;">
	<div>
		Content generated on @DateTime.Now.ToLongTimeString().
	</div>
	<div>
		Content generated on @DateTime.Now.ToLongTimeString().
	</div>
	<div>
		Content generated on @DateTime.Now.ToLongTimeString().
	</div>
	<div>
		Content generated on @DateTime.Now.ToLongTimeString().
	</div>
	<div>
		Content generated on @DateTime.Now.ToLongTimeString().
	</div>
	<div>
		Content generated on @DateTime.Now.ToLongTimeString().
	</div>
	<div>
		Content generated on @DateTime.Now.ToLongTimeString().
	</div>
	<div>
		Content generated on @DateTime.Now.ToLongTimeString().
	</div>
	<div>
		Content generated on @DateTime.Now.ToLongTimeString().
	</div>
	<div>
		Content generated on @DateTime.Now.ToLongTimeString().
	</div>
	<div>
		Content generated on @DateTime.Now.ToLongTimeString().
	</div>
	<div>
		Content generated on @DateTime.Now.ToLongTimeString().
	</div>
	<div>
		Content generated on @DateTime.Now.ToLongTimeString().
	</div>
	<div>
		Content generated on @DateTime.Now.ToLongTimeString().
	</div>
	<div>
		Content generated on @DateTime.Now.ToLongTimeString().
	</div>
</div>
