@{
	Layout = null;
}
<div id="dateContent" style="background-color: darkgoldenrod; height: 100%; overflow: auto;">
	<div>
		Content generated on @DateTime.Now.ToLongTimeString().
	</div>
	<div>
		Content generated on @DateTime.Now.ToLongTimeString().
	</div>
	<div>
		Content generated on @DateTime.Now.ToLongTimeString().
	</div>
	<div>
		Content generated on @DateTime.Now.ToLongTimeString().
	</div>
	<div>
		Content generated on @DateTime.Now.ToLongTimeString().
	</div>
	<div>
		Content generated on @DateTime.Now.ToLongTimeString().
	</div>
	<div>
		Content generated on @DateTime.Now.ToLongTimeString().
	</div>
	<div>
		Content generated on @DateTime.Now.ToLongTimeString().
	</div>
	<div>
		Content generated on @DateTime.Now.ToLongTimeString().
	</div>
	<div>
		Content generated on @DateTime.Now.ToLongTimeString().
	</div>
	<div>
		Content generated on @DateTime.Now.ToLongTimeString().
	</div>
	<div>
		Content generated on @DateTime.Now.ToLongTimeString().
	</div>
	<div>
		Content generated on @DateTime.Now.ToLongTimeString().
	</div>
	<div>
		Content generated on @DateTime.Now.ToLongTimeString().
	</div>
	<div>
		Content generated on @DateTime.Now.ToLongTimeString().
	</div>
	<div>
		End: Content generated on @DateTime.Now.ToLongTimeString().
	</div>
</div>
